<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.AoaSysMenuMapper">

  <resultMap id="BaseResultMap" type="com.hr.entity.AoaSysMenu">
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
    <result column="menu_grade" jdbcType="INTEGER" property="menuGrade" />
    <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="sort_id" jdbcType="INTEGER" property="sortId" />
  </resultMap>

  <select id="querySysMenuByRoleId" resultMap="BaseResultMap">
    SELECT r.role_id, r.role_name, m.menu_id, m.menu_icon, m.menu_name,
    m.menu_url, m.parent_id, m.sort_id,
    (SELECT COUNT(*) FROM aoa_sys_menu s WHERE s.parent_id=m.menu_id) childCount
    FROM aoa_role_power_list p
    INNER JOIN aoa_role_ r ON p.role_id=r.role_id
    INNER JOIN aoa_sys_menu m ON p.menu_id=m.menu_id
    <where>
      p.is_show=1
      <if test="roleId != null">
        AND r.role_id = #{roleId}
      </if>
      <if test="parentId != null">
        AND m.parent_id = #{parentId}
      </if>
    </where>
    ORDER BY m.sort_id
  </select>
  
</mapper>