<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.AoaSysMenuMapper">

  <resultMap id="BaseResultMap" type="com.hr.entity.AoaSysMenu">
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
    <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="sort_id" jdbcType="INTEGER" property="sortId" />
    <result column="menu_grade" jdbcType="VARCHAR" property="menuGrade" />
  </resultMap>

  <!-- 根据角色ID和父级ID查询权限树 -->
  <select id="querySysMenuByRoleId" resultMap="BaseResultMap">
    SELECT r.role_id, r.role_name, m.menu_id, m.menu_icon, m.menu_name,
    m.menu_url, m.parent_id, m.sort_id,
    (SELECT COUNT(*) FROM aoa_sys_menu s WHERE s.parent_id=m.menu_id) childCount
    FROM aoa_role_power_list p
    INNER JOIN aoa_role_ r ON p.role_id=r.role_id
    INNER JOIN aoa_sys_menu m ON p.menu_id=m.menu_id
    <where>
      p.is_show=1
      <if test="roleId != null">
        AND r.role_id = #{roleId}
      </if>
      <if test="parentId != null">
        AND m.parent_id = #{parentId}
      </if>
    </where>
    ORDER BY m.sort_id
  </select>

  <!-- 根据模块或者类型分页查询系统菜单表 -->
  <select id="querySysMenuByName" resultMap="BaseResultMap">
    SELECT menu_id, is_show, menu_icon, menu_name, menu_url,
    parent_id, sort_id, menu_grade FROM aoa_sys_menu
    <where>
      <if test="keyword != null and keyword != ''">
        menu_name LIKE '%${keyword}%'
      </if>
    </where>
    ORDER BY sort_id LIMIT #{page}, #{count}
  </select>

  <!-- 根据条件查询总页数 -->
  <select id="queryTotalByName" resultType="java.lang.Integer">
    SELECT COUNT(*) from aoa_sys_menu
    <where>
      <if test="keyword != null and keyword != ''">
        menu_name LIKE '%${keyword}%'
      </if>
    </where>
  </select>

  <!-- 查询父级系统菜单 -->
  <select id="queryParentSysMenu" resultMap="BaseResultMap">
    SELECT menu_id, is_show, menu_icon, menu_name, menu_url,
    parent_id, sort_id, menu_grade FROM aoa_sys_menu WHERE parent_id = 0
  </select>

  <!-- 增加系统菜单 -->
  <insert id="saveAoaSysMenu">
    INSERT INTO aoa_sys_menu(is_show, menu_icon, menu_name, menu_url, parent_id,
    sort_id, menu_grade) VALUES (#{isShow}, #{menuIcon}, #{menuName},
    #{menuUrl}, #{parentId}, #{sortId}, #{menuGrade})
  </insert>

  <!-- 根据ID删除系统菜单 -->
  <delete id="delSysMenuById">
    DELETE FROM aoa_sys_menu WHERE menu_id = #{menuId}
  </delete>

  <!-- 根据ID查询系统菜单 -->
  <select id="querySysMenuById" resultMap="BaseResultMap">
    SELECT menu_id, is_show, menu_icon, menu_name, menu_url,
    parent_id, sort_id, menu_grade FROM aoa_sys_menu WHERE menu_id = #{menuId}
  </select>

  <!-- 根据ID修改系统菜单 -->
  <update id="updSysMenuById">
    UPDATE aoa_sys_menu SET isShow = #{isShow}, menuIcon = #{menuIcon},
    menuName = #{menuName}, menUrl = #{menuUrl},parentId = #{parentId},
    sortId = #{sortId}, menuGrade = #{menuGrade} WHERE menu_id = #{menuId}
  </update>

</mapper>