<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.AoaTaskListMapper">

  <resultMap id="BaseResultMap" type="com.hr.entity.AoaTaskList">
    <id column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="is_cancel" jdbcType="INTEGER" property="isCancel" />
    <result column="is_top" jdbcType="INTEGER" property="isTop" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="star_time" jdbcType="TIMESTAMP" property="starTime" />
    <result column="status_id" jdbcType="INTEGER" property="statusId" />
    <result column="task_describe" jdbcType="VARCHAR" property="taskDescribe" />
    <result column="ticking" jdbcType="VARCHAR" property="ticking" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="task_push_user_id" jdbcType="BIGINT" property="taskPushUserId" />
    <result column="reciverlist" jdbcType="VARCHAR" property="reciverlist" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
  </resultMap>
  <select id="queryTask" resultMap="BaseResultMap">
    select t.task_id,t.type_id,t.title,t.publish_time,u.user_name,d.dept_name,t.status_id,t.is_top
    from
    aoa_task_list t,aoa_user u,aoa_dept d
    <where>
      <if test="keyword != null and keyword != ''">
        (t.title LIKE '%${keyword}%' OR u.user_name LIKE '%${keyword}%')
      </if>
      AND task_push_user_id=1 and t.task_push_user_id=u.user_id and u.dept_id=d.dept_id
    </where>
    ORDER BY t.is_top desc , t.publish_time DESC
    LIMIT #{page}, #{count}
  </select>

  <select id="queryTaskByword" resultType="java.lang.Integer">
    SELECT COUNT(*) from
    aoa_task_list t,aoa_user u,aoa_dept d
    <where>
      <if test="keyword != null and keyword != ''">
        (t.title LIKE '%${keyword}%' OR u.user_name LIKE '%${keyword}%')
      </if>
      AND task_push_user_id=1 and t.task_push_user_id=u.user_id and u.dept_id=d.dept_id
    </where>
  </select>

  <select id="goUpdate" resultMap="BaseResultMap" >
    select
    task_id,type_id,status_id,star_time,end_time,title,reciverlist,task_describe,comment,is_top,is_cancel
    from aoa_task_list
    where task_id = #{taskId}

  </select>

  <update id="updTaskList">
    UPDATE aoa_task_list set type_id= #{typeId},status_id= #{statusId},star_time=#{starTime},
    end_time= #{endTime},title=#{title},reciverlist=#{reciverlist},task_describe=#{taskDescribe},
    comment=#{comment},is_top=#{isTop},is_cancel=#{isCancel}
    where task_id=#{taskId}
  </update>

  <delete id="delTaskList">
    DELETE FROM aoa_task_list where task_id=#{taskId}
  </delete>

  <insert id="saveTaskList">
    INSERT INTO aoa_task_list
    (type_id,status_id,star_time,end_time,title,reciverlist,task_describe,comment,is_top,is_cancel,task_push_user_id)
    VALUES
    (#{typeId},#{statusId},#{starTime},#{endTime},#{title},#{reciverlist},#{taskDescribe},#{comment},#{isTop},#{isCancel},1)

  </insert>
</mapper>